body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body > * {
    max-width: 1100px;
    margin: 30px auto;
}
h1, h2 {
    color: #393939;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px; /* avoid margin collapse */
}
p {
    line-height: 160%;
}
a {
    color: #1A7485;
    text-decoration: none;
}
a:hover {
    color: #F47A00;
}
select {
    padding: 5px 10px 5px 5px;
    font-size: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.header .links {
    flex: 0 0 auto;
}
.header .links img {
    max-height: 60px;
}
.header .search {
    flex: 1 1;
}
#dashboard-details {
    margin-top: 50px;
}
details, .details {
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
}
details summary {
    display: block;
    cursor: pointer;
}
details:not([open]) summary h2::after {
    content: "click to expand";
    color: #999;
    font-size: 60%;
    font-weight: normal;
    margin-left: 1em;
}
.side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.side-by-side .left {
    margin-right: 40px;
}
.side-by-side .fixed {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;
}
.side-by-side .expand {
    flex-grow: 100;
    flex-shrink: 1;
}
.side-by-side .equal {
    flex-grow: 1;
    flex-shrink: 1;
}
.note {
    border-radius: 5px;
    margin-top: 20px;
    border-left: .2rem solid #1A74B5;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
    overflow: hidden;
    padding-bottom: 10px;
}
.note h3 {
    background-color: #c6dced;
    font-size: 110%;
    font-weight: 600;
    padding: 8px 10px;
    margin: 0 0 10px 0;
}
.note p {
    margin: 5px 10px 5px 10px;
}
.note p label {
    display: block;
    margin-left: 2em;
    text-indent: -2em;
}
.footer, .credits {
    text-align: center;
}
.credits .acknowledgements {
    font-size: 95%;
}
#logos img {
    max-height: 70px;
}
#dashboard-map {
    height: 800px;
    max-height: 80vh;
}
#dashboard-models {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#dashboard-models fieldset legend {
    padding: 0 0.3em;
}
#dashboard-models fieldset {
    margin: 12px;
    line-height: 150%;
    border-radius: 5px;
    border: 1px solid #CCC;
    font-size: 90%;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.5px;
}
#dashboard-models label {
    display: block;
    cursor: pointer;
}
#dashboard-models span.ens-name {
    color: #999;
}
#dashboard-controls {
    background-color: rgb(245,245,245);
}
#dashboard-controls legend {
    font-weight: bold;
}
#dashboard-controls select {
    margin-top: 5px;
    min-width: 220px;
    display: block;
}
#dashboard-controls label {
    margin-top: 10px;
}
#dashboard-search {
    border: 1px solid #CCC;
    border-radius: 10px;
    background-color: rgb(245,245,245);
    width: 500px;
    padding: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.5px;
    margin: 0 auto;
}
#dashboard-search-input {
    font-size: 110%;
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
}
#dashboard-search-dropdown {
    position: absolute;
    left: -1px;
    width: 520px;
    z-index: 1000;
    border: 1px solid #CCC;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(245,245,245);
    padding: 10px 0 0 0;
    overflow-y: hidden;
}
#dashboard-search-results {
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
}
#dashboard-search-results > * {
    display: block;
    border-top: 1px solid #CCC;
    padding: 5px;
}
#dashboard-search-results > a {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
#dashboard-search-results > a > *:first-child {
    flex: 1 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#dashboard-search-results > a > *:last-child {
    color: #000;
    margin-left: 10px;
    text-align: center;
}
input#dashboard-removeensfromuncertainty {
    margin-left: 1em;
}